*{
  border-style: hidden;
}

h2{
margin: 15px 100px; 
font-size: 2em;
}

.content-1{
  display: flex;
  border: 1px solid blue;
  background: rgba(229, 215, 215, 0.677);
  border-style: none;
}

.box1{
  width: 63vw;
  height: 45vh;
  border: 1px solid red;
  background: rgba(229, 215, 215, 0.677);
  border-style:hidden;
  padding-top: 10px;
}
.box2{
  width: 36vw;
  height: 45vh;
  border: 1px solid green;
  margin: 10px 15px;
  padding: 10px 20px;
  border-style:hidden;
}
.box-value{
  width: 63vw;
  height: 15vh;
  display: flex;
}

.text{
  border: 1px solid pink;
  width: 20vw;
  height: 13vh;
  font-size:1.3em ;
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
  margin: 5px;
  background: white;
  padding: 5px 7px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  border-style:hidden;
}

p{
  margin: 3px;
}

.text1{
  padding: 0;
font-size: 2em;
margin-top: 0;
font-weight: 700;
color: brown;
}

.box-donut{
  margin:5px 5px;
  width: 63vw;
  display: flex; 
}

.container-donut{
  width: 20vw;
  height:30vh;
  border: 1px solid rebeccapurple;
  margin: 5px;
  background: white;
  padding: 8px 3px;
  border-radius: 10px;
  border-style:hidden;
}

.box2{
  width: 33vw;
  background: white;
  border-radius: 10px;
  width: 33vw;
  height: 45vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

}

.content-2{
  display: flex;
  background: rgba(229, 215, 215, 0.677);;
}

.container-line{
  width: 49vw;
  height: 40vh;
  border: 1px solid grey;
  margin: 5px 8px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style:hidden;
}
.container-bar2{
  width: 49vw;
  height: 40vh;
  margin: 5px;
  border: 1px solid yellow;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style:hidden;
  border-radius: 10px
}
